#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
}

.spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

#loader{
    position: relative;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border-top: 1vh solid #3498db;
    animation: spinLoader 2s linear infinite;
}

div#loader::after, div#loader::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1vh;
    left: 0px;
    box-sizing: border-box;
    border-radius: 50%;
}

#loader::after{
    border-top: 1vh solid #BA2F16;
    transform: rotate(120deg);
}

#loader::before{
    border-top: 1vh solid #FAC42F;
    transform: rotate(240deg);
}

#loaderSpan{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2vh;
    animation: spinLoaderSpan 2s linear infinite;
}

@keyframes spinLoader{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinLoaderSpan{
    to {
        transform: rotate(-360deg);
    }
}
